{% extends "Dashboard/Base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/dashboard/dashboard.css"/>
{% endblock %}

{% block main %}
    <div class="row mb-3 d-flex justify-content-center flex-wrap">
        <div class="accounts-list col mt-3 me-2 shadow-sm d-flex flex-column p-3 h-100 border rounded-3">
            <h3 class="text-center text-success">Active Accounts List</h3>
            <div class="accounts-list-body mb-3">
                {% if not accounts_counters['Active'] %}
                    <div class="text-center h-100 w-100 justify-content-center align-items-center">
                        No Active Accounts
                    </div>
                {% else %}
                    <table class="table table-hover table-sm">
                        <thead class="bg-white shadow-sm rounded-3">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Permission</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for index, account_info in active_accounts %}
                            <tr class="align-middle">
                                <form method="post"
                                      action="{{ url_for('accounts.delete', account_id=account_info['id']) }}">
                                    <th scope="row">{{ index + 1 }}</th>
                                    <td>{{ account_info['username'] }}</td>
                                    <td>{{ account_info.getAccountPermissions() }}</td>
                                    <td><input value="Delete" type="submit" class="btn btn-danger"/></td>
                                </form>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            {% if accounts_counters['Active'] %}
                <div class="container d-flex justify-content-center">
                    <form method="post" action="{{ url_for('accounts.bulkDelete', active=1) }}">
                        <input class="btn btn-danger" type="submit" value="Delete All" name="delete_all"/>
                        <a class="btn btn-success"
                           href="{{ url_for('accounts.download', filename='active_accounts', active=1, suspended=0, hidden=0) }}">Download
                            All</a>
                    </form>
                </div>
            {% endif %}
        </div>
        <div class="accounts-list col mt-3 me-2 shadow-sm d-flex flex-column p-3 h-100 border rounded-3">
            <h3 class="text-center text-warning">Search Ban Accounts List</h3>
            <div class="accounts-list-body">
                {% if not accounts_counters['Hidden'] %}
                    <div class="text-center h-100 w-100 justify-content-center align-items-center">
                        No Search Banned Accounts
                    </div>
                {% else %}
                    <table class="table table-hover table-sm">
                        <thead class="bg-white shadow-sm rounded-3">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Permission</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for index, account_info in hidden_accounts %}
                            <tr class="align-middle">
                                <form method="post"
                                      action="{{ url_for('accounts.delete', account_id=account_info['id']) }}">
                                    <th scope="row">{{ index + 1 }}</th>
                                    <td>{{ account_info['username'] }}</td>
                                    <td>{{ account_info.getAccountPermissions()}}</td>
                                    <td><input value="Delete" type="submit" class="btn btn-danger"/></td>
                                </form>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            {% if accounts_counters['Hidden'] %}
                <div class="container d-flex justify-content-center">
                    <form method="post" action="{{ url_for('accounts.bulkDelete', hidden=1, active=1) }}">
                        <input class="btn btn-danger" type="submit" value="Delete All" name="delete_all"/>
                        <a class="btn btn-success"
                           href="{{ url_for('accounts.download', filename='search_blocked_accounts', active=1, hidden=1) }}">Download
                            All</a>
                    </form>
                </div>
            {% endif %}
        </div>
        <div class="accounts-list col mt-3 shadow-sm d-flex flex-column p-3 h-100 border rounded-3">
            <h3 class="text-center text-danger">Suspended Accounts List</h3>
            <div class="accounts-list-body">
                {% if not accounts_counters['Suspended'] %}
                    <div class="text-center h-100 w-100 justify-content-center align-items-center">
                        No Locked Accounts
                    </div>
                {% else %}
                    <table class="table table-hover table-sm">
                        <thead class="bg-white shadow-sm rounded-3">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Permission</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for index, account_info in suspended_accounts %}
                            <tr class="align-middle">
                                <form method="post"
                                      action="{{ url_for('accounts.delete', account_id=account_info['id']) }}">
                                    <th scope="row">{{ index + 1 }}</th>
                                    <td>{{ account_info['username'] }}</td>
                                    <td>{{ account_info.getAccountPermissions() }}</td>
                                    <td><input value="Delete" type="submit" class="btn btn-danger"/></td>
                                </form>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            {% if accounts_counters['Suspended'] %}
                <div class="container d-flex justify-content-center">
                    <form method="post" action="{{ url_for('accounts.bulkDelete', suspended=1) }}">
                        <input class="btn btn-danger" type="submit" value="Delete All" name="delete_all"/>
                        <a class="btn btn-success"
                           href="{{ url_for('accounts.download', filename='suspended_accounts', suspended=1) }}">Download
                            All</a>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3 d-flex justify-content-center flex-wrap">
        <div class="col">
            <div class="d-flex flex-column justify-content-center flex-wrap shadow-sm rounded-3 bg-light border p-2">
                <h4>Accounts</h4>
                <div class="d-flex flex-column">
                    <span class="text-warning text-wrap">Format: username:password:email</span>
                    <span class="text-warning text-wrap">Format: username:password:email:proxy_ip:proxy_port:proxy_user:proxy_password</span>
                </div>
                <div class="row p-3">
                    <div class="col bg-white rounded-3 shadow-sm p-2 border">
                        <h6 class="text-center">Accounts To Add</h6>
                        <form class="d-flex flex-column align-items-center justify-content-start" method="post"
                              action="{{ url_for('accounts.store') }}" enctype=multipart/form-data>
                            {{ accounts_form.hidden_tag() }}
                            <div class="w-100 p-3">
                                <div class="mb-3">
                                    <label for="accountsFile" class="form-label">Upload File To Be Saved</label>
                                    {{ accounts_form.accounts_file(class_='form-control', id='accountsFile') }}
                                </div>
                                <div class="d-flex justify-content-between pt-3 flex-wrap">
                                    <span class="text-muted fw-bolder">Select Operations: </span>
                                    <div class="row row-cols-4 ps-2">
                                        {% for i in range(permissions|length) %}
                                        <div class="form-check form-switch col">
                                            <input class="form-check-input {{ 'tweet' if i == 0 else 'reacting' }}"
                                                   name="{{ permissions[i] }}"
                                                   value="{{ permissions[i] }}" type="checkbox" role="switch"
                                                   id="switch-{{ i }}" checked>
                                            <label class="form-check-label"
                                                   for="switch-{{ i }}">{{ permissions[i] }}</label>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {{ accounts_form.save(class="btn btn-success btn-sm m-2") }}
                        </form>
                    </div>
                </div>
                <div class="row p-3">
                    <form class="d-flex justify-content-center" method="post"
                          action="{{ url_for('accounts.bulkDelete') }}">
                        <input type="submit" class="btn btn-danger" value="Delete All"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex flex-column justify-content-center flex-wrap shadow-sm rounded-3 bg-light border p-2">
                <h4>Proxies</h4>
                <span class="text-warning text-wrap">Format: proxy_ip:proxy_port:proxy_user:proxy_password</span>
                <div class="row p-3">
                    <div class="col bg-white rounded-3 shadow-sm p-2 border">
                        <h6 class="text-center">Proxies To Add</h6>
                        <form class="d-flex flex-column align-items-center justify-content-start" method="post"
                              action="{{ url_for('proxies.store', proxy_for='account') }}" enctype=multipart/form-data>
                            {{ proxies_form.hidden_tag() }}
                            <div class="w-100 p-3">
                                <div class="mb-3">
                                    <label for="accountsFile" class="form-label">Upload File To Be Saved</label>
                                    {{ proxies_form.proxies_file(class_='form-control', id='proxies_file') }}
                                </div>
                            </div>
                            {{ proxies_form.save(class="btn btn-success btn-sm m-2") }}
                        </form>
                    </div>
                </div>
                <div class="row p-3">
                    <form class="d-flex justify-content-center" method="post"
                          action="{{ url_for('proxies.delete', proxy_for='account') }}">
                        <input type="submit" class="btn btn-danger" value="Delete All"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            const accounts_list = $('.accounts-list');
            $('.accounts-list-body').toggle();
            accounts_list.find('h3').on('click', function () {
                $(this).parent().find('div').first().toggle(100)
            });

            {#$('.tweet').on('click', function () {#}
            {#    $('.reacting').prop('checked', !(Boolean)($(this).prop('checked')));#}
            {#})#}
            {##}
            {#$('.reacting').on('click', function () {#}
            {#    let checked = [];#}
            {#    $.each($('.reacting'), function (index, element) {#}
            {#        checked.push($(element).prop('checked'));#}
            {#    });#}
            {#    checked = !(Boolean)(checked.reduce((accumulator, item) => accumulator + item, 0))#}
            {#    $('.tweet').prop('checked', checked)#}
            {#})#}
        })
    </script>
{% endblock %}